---
---
@import "{{ site.theme }}";

.imgLeft {
float:left;
margin-right:10px;
margin-bottom:10px;
width:70%;
vertical-align:top;
border: 1px solid red;
}


h1 {
 color:white;
 }

.main-content h1 {
 color:blue;
}

.page-header {
    color: #fff;
    text-align: center;
    background-color: #1d3ed8;
    background-image: linear-gradient(120deg, #ce1313e0, #c316b2);
}
